header
div {
    margin-left: 20px;
    a {
        color: black;
    }
}
#menu1 {
    main{
        section {
            background-color: rgb(245, 245, 245);
            #titre{
                display: flex;
                justify-content: space-between;
                h2 {
                    font-family: $logo;
                }
            }
        }
    }
}