@font-face {
    font-family: "shrikhand";
    src: url("police/shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "roboto_text";
    src: url("police/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "roboto_titre";
    src: url(police/roboto/Roboto-Medium.ttf);
}

$logo: "shrikhand", helvetica, sans-serif;
$texte: "roboto_text", arial, sans-serif;
$titre:"roboto_titre", "roboto_text", arial;
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

body {
    margin:0;
}

