@font-face {
  font-family: "shrikhand";
  src: url("police/shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "roboto_text";
  src: url("police/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "roboto_titre";
  src: url(police/roboto/Roboto-Medium.ttf);
}

body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  padding-left: 20px;
}

header div a {
  text-decoration: none;
  color: black;
}

header div a i {
  text-decoration: none;
}

header h1 {
  margin: 10px 0 10px -10px;
}

header h1 figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 figure img {
  display: block;
  width: 50%;
}

main figure {
  margin: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

main figure img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

main section {
  background-color: whitesmoke;
  border-radius: 25px;
  margin-top: -30px;
  z-index: 2;
  position: relative;
  padding: 20px 10px;
}

main section #titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section #titre h2 {
  margin: 0;
  font-family: "shrikhand", helvetica, sans-serif;
  font-weight: lighter;
}

main section #titre .coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section #titre .coeur i {
  font-size: 30px;
  padding: 5px 15px 0 0;
}

main section #titre .coeur .fa-regular {
  position: relative;
  margin-right: -30px;
  padding: 0;
  color: black;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

main section #titre .coeur .fa-solid {
  color: #9356dc;
  position: relative;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

main section #titre .coeur:active .fa-regular {
  opacity: 0;
}

main section #titre .coeur:active .fa-solid {
  opacity: 1;
}

main section #titre .coeur:focus .fa-regular:focus {
  display: none;
}

main section #titre .coeur:focus .fa-solid:focus {
  display: block;
}

main section .menu h3 {
  font-family: "roboto_text", arial, sans-serif;
  font-size: 14px;
}

main section .menu ul {
  margin: 0;
  padding: 0;
}

main section .menu ul li {
  background-color: white;
  list-style: none;
  border-radius: 15px;
  margin-bottom: 20px;
}

main section .menu ul li a {
  margin: 0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

main section .menu ul li a article {
  padding: 10px;
  width: 100%;
}

main section .menu ul li a article h4 {
  font-family: "roboto_titre", "roboto_text", arial;
  font-weight: lighter;
  margin: 0;
}

main section .menu ul li a article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

main section .menu ul li a article div p {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  text-align: center;
  font-family: "roboto_text", arial, sans-serif;
}

main section .menu ul li a article div span {
  font-weight: bold;
  font-size: 12px;
  font-family: "roboto_titre", "roboto_text", arial;
  padding-right: 10px;
}

main section .menu ul li a aside {
  display: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  width: 70px;
  height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: display 300ms;
  transition: display 300ms;
}

main section .menu ul li a aside i {
  background-color: #99e2d0;
  color: white;
  font-size: 20px;
}

main section .menu ul li a:focus aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section #btn form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section #btn form button {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  border: none;
  border-radius: 25px;
  margin: 15px 0 50px 0;
  padding: 12px 40px;
  font-size: 15px;
  font-family: "roboto_text", arial, sans-serif;
  font-weight: bold;
}

footer {
  background-color: #2d2d2d;
  padding: 20px 0;
}

footer h1 {
  font-family: "shrikhand", helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  margin-left: 40px;
  color: white;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding-bottom: 5px;
}

footer ul li a {
  font-family: "roboto_text", arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

footer ul li a i {
  margin-right: 5px;
  font-size: 10px;
}
/*# sourceMappingURL=menus.css.map */