@font-face {
    font-family: "shrikhand";
    src: url("police/shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "roboto_text";
    src: url("police/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "roboto_titre";
    src: url(police/roboto/Roboto-Medium.ttf);
}

@keyframes cascade-rvs {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes coeur-vide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes coeur-plein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ctn {
    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(980deg);
      display: none;
    }
}

$logo: "shrikhand", helvetica, sans-serif;
$texte: "roboto_text", arial, sans-serif;
$titre:"roboto_titre", "roboto_text", arial;
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

body {
    margin:0;
}

h2 {
    font-family: $titre;
}

#spin-ctn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-color: #99e2d0b6;
    animation: ctn 3s forwards ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    .spin::before {
        animation: 5s linear spinner forwards;
        animation-play-state: inherit;
        border: solid 10px #cfd0d1;
        border-bottom-color: $primaire;
        border-radius: 50%;
        content: "";
        height: 50px;
        width: 50px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
        margin: 10px 0;

        h1 {
            margin: 0;
            display: flex;
            justify-content: center;

            img {
                display: block;
                width: 50%;
            }
        }
    }
}

#recherche {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    font-family: $texte;

    form {
        background-color: rgb(229, 229, 230);
        display:flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        color: black;
        font-size: 12px;

        i {
            margin-left: 20px;
        }

        input {
            background-color: rgb(229, 229, 230);
            border:none;
            margin: 0 10px;
            width: 100px;
        }

        ::placeholder {
            color: black;
            font-weight: bold;
            font-size: 12px;
            font-family: $titre;
        }
    }

    article {
        background-color: rgb(245, 245, 245);
        text-align: center;
        padding: 30px 0;

        h2 {
            font-family: $titre;
            font-size: 18px;
            margin:0;
            padding: 0;
            font-weight: bolder;
        }
        
        p {
            font-size: 15px;
            padding: 0 20px;
        }

        button {
            background: linear-gradient(to top left, $primaire, $secondaire);
            color: white;
            border: none;
            border-radius: 25px;
            margin: 10px 0;
            padding: 12px 20px;
            font-size: 15px;
            box-shadow: silver 3px 3px 3px;
        }

        button:hover {
            background: $secondaire;
            box-shadow: rgb(154, 154, 154) 4px 4px 4px;
        }
    }
}

#fonctionnement {
    padding: 30px 0;

    h2 {
        padding-left: 20px;
        font-size: 22px;
    }

    ul {
        padding-right: 20px;

        li {
            background-color: rgb(245, 245, 245) ;
            margin: 0 0 15px 0;            
            border-radius: 15px;
            box-shadow: silver 3px 3px 3px;
            list-style: none;
            display: flex;
            text-decoration: none;
            padding:20px 0 20px 15px;
            font-family: $titre;
            font-size: 12px;
            animation: cascade-rvs 2s ease-out forwards;

            &:nth-child(2) {
                animation-delay: 0.3s;
            }   
            
            &:nth-child(3) {
                animation-delay: 0.6s;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primaire;
                color: white;
                margin: 0 15px 0 -22px;
                border-radius: 15px;
                width: 15px;
                height: 15px;;
                font-size: 10px;
            }

            i {
                color: rgb(135, 135, 135);
                margin-right: 15px;
            }
        }

        li:hover {
            background-color: #f7efff;
            box-shadow: rgb(166, 166, 166) 4px 4px 4px;

            i {
                color: $primaire;
            }
        }
    }
}

#restaurants {
    background-color: rgb(245, 245, 245);
    padding: 30px 0;

    h2 {
        padding-left: 20px;
        font-size: 22px;
    }

    a {
        display: block;
        border-radius: 15px;
        background-color: white;
        width: 92%;
        margin:5px 0 10px 12px;
        padding-bottom: 0;
        box-shadow: lightgrey 2px 2px 5px;       
        color: black;
        text-decoration: none;
        overflow: hidden;
        animation: cascade-rvs 2s ease-out forwards;

        &:nth-child(2) {
            animation-delay: 0.3s;
        }   
    
        &:nth-child(3) {
            animation-delay: 0.6s;
        }

        &:nth-child(4) {
            animation-delay: 0.9s;
        }
        
        .image {
            position: relative;
            z-index: 1;

            img{
                text-align: center;
                width: 100%;
                height: 150px;
                object-fit: cover;
            }

            p {
                background-color: $tertiaire;
                color: rgb(0, 150, 0);
                font-family: $titre;
                font-size: 10px;
                font-weight: lighter;
                margin: 0;
                padding:5px 10px;
                position: absolute;
                top:15px;
                right: 10px;
                z-index: 2;
            }
        }

        .card {
            display: flex;
            justify-content: space-between;
            padding: 10px;

            article {
                padding: 0;

                h3 {
                    font-family: $titre;
                    font-size: 15px;
                    margin: 0;
                    padding: 0;
                }

                p {
                    font-family: $texte;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 5px 0;
                }
            }

            .coeur{
                background-color: white;
                border: none;
                cursor: pointer; 

                i {
                    font-size: 30px;
                    padding: 5px 15px 0 0; 
                }

                .fa-regular {
                    position: relative;
                    margin-right:-34px;
                    padding: 0;
                    color:black;
                    opacity:1;
                }
                  
                .fa-solid {
                    color: #9356dc;
                    position: relative;
                    opacity:0;
                }
            }

            .coeur:active, .coeur:focus, .coeur:hover {

                .fa-regular {
                    animation: coeur-vide 0.7s ease-out forwards;
                }

                .fa-solid {
                    animation: coeur-plein 0.7s ease-out forwards;
                }
            }
        }
    }
}

footer {
    background-color: rgb(45, 45, 45);
    padding: 20px 0 ;

    h1 {
        font-family: $logo;
        font-size: 15px;
        font-weight: lighter;
        margin-left: 40px;
        color: white;
    }

    ul {
        list-style: none;

        li{
            padding-bottom: 5px;

            a {
                font-family: $texte;
                font-size: 13px;
                font-weight: bold;
                color: white;
                text-decoration: none;

                i {
                    margin-right: 5px;
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    #restaurants a {
        display: flex;
        max-width: 825px;

        .img {
            width:60%;
            img {
                height: 100%;
            }
        }

        .card {
            width: 40%;
        }
    }
}

@media screen and (min-width: 1024px) {
    #fonctionnement ul {
        display: flex;

        li {
            margin: 10px 25px;
            width: 25%;
        }
    }

    #list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
            width: 45%;
            margin: 25px;

            .card {
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-size:24px;
                }

                p {
                    font-size: 24px;
                }

                .coeur {
                    padding-bottom: 20px;
                }
            }
        }
    }

    footer ul {
        display: flex;

        li {
            margin: 20px;
        }
    }
}
